.section​ {
margin : 20px;
}
body{
font-family : Arial ,sans-serif;
}

button{
padding :5px 16px;
border-radius: 4px;
height: 60px;
width: 140px;

}

#sub{
font-size: 65%;
}

#changeQuota{
	 background-color : yellow;
	 }
#buyTicket , #buyTickets {
	 background-color : #98fb98;
	 }
#refundTicket {
	 background-color : pink;
	 }
#createWallet {
	 background-color : #add8e6;
	 }
#destroyContract {
	 background-color: #ff6666;
	 height: 60px;
	 //width: 140px;

	 }
#seed{ 
	color : green;
	}
	
.left { width : 40% ; float : left}
.right, .middle { width : 20% ; float : left }
.clear { clear : both }

sub{
font-weight : normal;
}

body{
//	padding: 70px;
//background: url("https://images.unsplash.com/photo-1505845753232-f74a87b62db6?ixlib=rb-0.3.5&s=26ae28069e16948a4ef6d5a6b9132e68&auto=format&fit=crop&w=1055&q=80");
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: black;
	//background-color: #efefef;
	

//	 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.jumbotron{
	text-align: center;
	background-color: rgba(17,34,171,0.5);
	margin-bottom: 0rem;
	 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	
}

.btn{
	//background-color: rgba(17,34,171,0.8);
	 color: black;
	 font-size: 75%;
	 font-weight: bold;
}

.row{
	//	background-color: pink;
	//	text-align: center;

}
.top .section{


padding: 30px;
	margin: 20px auto;
//	border: 2px solid rgba(17,34,171,0.8);
width: 90%;
//height: 100%;
font-size: 1.2em;
background-color: rgba(17,34,171,0.1);
}



.row .section{
	padding-left: 5%;
//	margin: 20px 100px;
//	border: 2px solid rgba(17,34,171,0.8);
//	background-color: rgba(17,34,171,0.1);
	font-size:25px;
	padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
	
}
.even{
background-color: rgba(17,34,171,0.1);
}

.odd{
background-color: rgba(17,34,171,0.5);
}

.top{
	font-size: 20px;
	
}

.hr_type {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.top .navbar-inverse{
background-color: rgba(17,34,171,0.2);

}
table{
//	border: 1px solid rgba(17,34,171,0.2);
	//height: 10px;
}

td{
	text-align: center;
	//border: 2px solid rgba(17,34,171,0.9);
	background-color: rgba(17,34,171,0.3);
	border-radius: 10px;
	font-size: 21px;


}

a{
	color: black;
	font-weight: bold;
	//text-align: center;
}

h2{
	 text-shadow: -1px 0 black, 0 1px black,  0 -1px black;

}
 
input{
	width: 60%;
} 


